<div class=dashboard-container>  
	<!-- <div ng-include src=model.titleTemplateUrl></div>  -->
<!-- 	<nav mfb-menu position="br" effect="zoomin" label="Edit Dashboard"
	     resting-icon="ion-edit" active-icon="ion-edit"
	     toggling-method="hover" ng-if=options.editable>
	  <button mfb-button icon="ion-plus-round" label="Add Application" style="cursor: pointer;" ng-click=enableEditMode();addWidgetDialog()></button>
	  <button mfb-button icon="ion-gear-a" label="Edit Dashboard" style="cursor: pointer;" ng-click=editDashboardDialog()></button>
	  <button mfb-button icon="ion-reply" label="Undo Changes" style="cursor: pointer;" ng-click=cancelEditMode()></button>
	  <button mfb-button icon="" label="Rename Dashboard" style="cursor: pointer;" ng-click=promptRename($event, model.intfId)></button>
	  <button mfb-button icon="ion-android-delete" label="Delete Dashboard" style="cursor: pointer;" ng-click=delete(model.intfId)></button>
	  <button mfb-button icon="ion-ios-download" label="Save Changes" style="cursor: pointer;" ng-click=enableEditMode();></button>
	</nav>	 -->

<div class="md-padding actionButtons" layout="column">
	<!-- Code Fix - https://github.ibm.com/EDA/LogicWorkBench/issues/19 - 24-Feb-2018- Start -->
  	<!-- <md-fab-speed-dial md-direction="up"class="md-scale md-fab-bottom-right md-hover-full speed-dial"> -->
  	<md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right">
  	<!-- Code Fix - https://github.ibm.com/EDA/LogicWorkBench/issues/19 - End -->
    <md-fab-trigger>
      <md-button aria-label="Menu" class="md-fab md-warn">
        <md-icon class="material-icons">mode_edit</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>

      <md-button class="md-fab md-raised md-mini md-primary" ng-click="enableEditMode();hideInfo();addWidgetDialog();">
        <md-icon class="material-icons">add_box</i></md-icon>
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Add Application</md-tooltip>
      </md-button>

      <md-button class="md-fab md-raised md-mini md-primary" ng-if=editMode ng-click="cancelEditMode()">
        <md-icon class="material-icons">undo</md-icon>
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Undo Changes</md-tooltip>
      </md-button>

      <md-button class="md-fab md-raised md-mini md-primary" ng-click="editDashboardDialog()">
        <md-icon class="material-icons">settings</md-icon>
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Edit Dashboard</md-tooltip>
      </md-button>

<!--       <md-button class="md-fab md-raised md-mini md-primary" ng-click="saveEdits()">
        <md-icon class="material-icons">save</md-icon>
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Save Changes</md-tooltip>
      </md-button> -->

      <md-button class="md-fab md-raised md-mini md-primary" ng-click="promptRename($event, model.intfId)">
        <md-icon class="material-icons">text_fields</md-icon>
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Rename Dashboard</md-tooltip>
      </md-button>

      <md-button class="md-fab md-raised md-mini md-primary" ng-click="delete(model.intfId)">
        <md-icon class="material-icons">delete</md-icon>
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Delete Dashboard</md-tooltip>
      </md-button>                          

    </md-fab-actions>
  </md-fab-speed-dial>
</div>	
	<div id="widgInfo" ng-if=!hasWidgets> 
		<div layout="row" layout-wrap layout-align="center">
			<div flex-gt-xs="25" flex-sm="100">
				<md-card style="background-color: white;color:black;">
					<img ng-src="../images/3.jpg" class="md-card-image" alt="Washed Out">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline" style="text-align: center;">{{model.title}}</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-actions layout="row" layout-align="center">
				          <md-button ng-click="enableEditMode();hideInfo();addWidgetDialog()" class="md-primary md-raised">Pull an Application here</md-button>
				    </md-card-actions>
					<md-card-content>
					<p> 
						Add an Application later using 
						<i class="material-icons">mode_edit</i> -> <i class="material-icons">library_add</i> 
						available on the Top-Right corner of the Dashboard 
					</p> 
					</md-card-content>
				</md-card>
			</div>
		</div>
	</div> 
	<div class=dashboard x-ng-class="{'edit' : editMode}"> 
<!-- 	    <main>
			<div class="content"> -->
		<adf-dashboard-row row=row adf-model=model options=options ng-repeat="row in model.rows" edit-mode=editMode continuous-edit-mode=continuousEditMode> </adf-dashboard-row>
<!-- 	    	</div>
	    </main>
 -->	</div> 
</div>
