  .container {
      padding: 0 10px;
  }
  .hyper_ace {
      clear: both;
      padding: 15px 0px 0px 0px;
  }

  .hyper_ace header {
      display: inline-block;
      font-weight: 600;
  }

  #hyperopt {
      padding: 3px;
      border-top: 1px solid #aaaaaa;
      color: gray;
  }

  #results a {
    text-decoration: none;
    color: gray;
  }

  .hyperace-match{
      background: rgba(255, 255,54,  .5);
  }

  .hyperace-line {
      background: rgba(200, 200, 255, .5);
      width: 100%;
  }

  #results {
      /*font-family: "Courier New", Courier, monospace;
      font-size: 10px;*/
      font: 8px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
      max-height:250px;
      overflow: auto;
      border: 1px solid gray;
      background: #f7f7f7;
  }

  .hyperace-session {
      font-size: 1.5em;
      margin: 8px 0;
      padding: 2px;
      text-align: left;
      //border: 1px solid;
      border-right: 0;
      border-left: 0;
  }

  /*body, select {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size:12px;
      color: gray;
  }

  nav .tabs {
      margin-bottom: 0;
  }
  nav .tabs li {
      border: 1px solid gray;
      border-bottom: 1px solid white;
      background: lightgray;
      display: inline-block;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  }

  nav .tabs li a{
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      color: gray;
  }

  nav .tabs li.on {
      background: white;
  }*/
